<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F91AC694B03CCF0BBB96410C808B4BB8B9DF73EFA7E6BAEFC3B894FF01C32D6614F37CBF1DB3950378D2954C310677D9E345EF494CF53F88D2423EF34CA9008D50906A3A8AA4814C9FBDFCDC90E5D8BFE9C" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>