{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
#home .banner-bottom { padding-top:2em; padding-bottom:6em;}
#home .banner-bottom h1 { font-size:4em;}
@media (max-width:767px){
#home .banner-bottom h1 { font-size:1.6em;}
#home .banner-bottom { padding-top:5em; padding-bottom:7em;}
}
</style>
</head>
<body>
<div id="home">
{ZL.Label id="全站头部"/}
</div>
<div class="container margin_top20 margin_bottom20">
<div id="mysite">
<ul class="breadcrumb">
<li><a href="/">首页</a><span class="divider"></span></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" ShowNum="30" /}
<li>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</li>
</ul>
</div>
<div class="con">
<h2>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h2>
<p class="hidden">创建时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}
浏览次数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></p>
</div>
<div class="con_c">
{SField sid="文章模型数据源标签" FD="content" page="0"/}
</div>
</div>
{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//---------------------手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});
$(".all_phone").each(function(index, element) {
	if(IsPC())
		$(this).attr("href","javascript:alert('请用手机直接拨打"+$(this).html()+"')");
});
//判断是否手机
function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
</script>